/* ========================================================================== */
/* CORE | Global styles */
/* ========================================================================== */

body {
  background-color: $color--bg;
  font-family: $font-family--text;
  font-weight: $weight--medium;
}

h1,
h2,
body {
  margin: 0;
  font-size: $font-size--regular;
  line-height: $line-height--regular;
  @include fluid-sizing( 320px, 1280px, $font-size--regular--mobile, $font-size--regular );
}

p { margin: 0; }

a {
  display: inline-block;
  position: relative;
  line-height: 1.3;
  color: $color--text;
  text-decoration: none;
  transition: color .5s;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 0;
  //   height: 2px;
  //   background-color: $color--bg;
  //   transition: width .5s;
  // }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color--text;
    transition: width .5s, background-color .5s;
  }

  &:hover,
  &:focus {
    color: $color--text--hover;
    // &:before {
    //   width: 100%;
    // }
    &:after {
      background-color: $color--text--hover;
      width: 0;
    }
  }
}
