/* ========================================================================== */
/* CORE | Global styles */
/* ========================================================================== */

html {
  overflow: hidden;
  min-width: 320px;
}

body {
  background-color: $color--bg;
  font-family: $font-family--text;
  font-weight: $weight--medium;
}

h1,
h2,
body {
  @include fluid-sizing(320px, 1280px, $font-size--regular--mobile, $font-size--regular);
  margin: 0;
  line-height: $line-height--regular;
}

p { margin: 0; }

a {
  display: inline;
  position: relative;
  line-height: 1.3;
  border-bottom: 2px solid $color--text;
  color: $color--text;
  text-decoration: none;
  transition: color .5s;


  @media only screen and (min-width: $breakpoint--tablet) {
    display: inline-block;
    border-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color--text;
      transition: width .5s, background-color .5s;
    }
  }

  &:hover,
  &:focus {
    color: $color--text--hover;
    border-bottom-color: $color--text--hover;

    @media only screen and (min-width: $breakpoint--tablet) {
      &::after {
        background-color: $color--text--hover;
        width: 0;
      }
    }
  }
}
