// ==========================================================================
// Main Stylesheet
// ==========================================================================

// ==========================================================================
// The SCSS folder is structured using the ITCSS principle (Hoppinger Style):
// - SETTINGS: for variables
// - TOOLS: for mixins/functions
// - VENDOR: for third-party styling
// - GLOBAL: for element styling - no classes or IDs
// - OBJECTS: for shared styling - OOCSS!
// - PAGES: for specific page styling - as less as possible
// - OVERWRITES: for overwriting styles - this is the only place where the `!important` tag is acceptable.
//
// READ MORE: http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
// ==========================================================================

@charset 'UTF-8';

// ==========================================================================
// SETTINGS
// ==========================================================================

@import 'settings/variables';

// ==========================================================================
// TOOLS
// ==========================================================================

@import 'tools/functions';
@import 'tools/mixins';

// ==========================================================================
// VENDOR
// ==========================================================================

@import 'vendor/normalize';

// ==========================================================================
// GLOBAL
// ==========================================================================

@import 'core/global';

// ==========================================================================
// OBJECTS
// ==========================================================================

@import 'objects/helpers';
@import 'objects/main';
@import 'objects/header';
@import 'objects/background';
@import 'objects/label';

// ==========================================================================
// PAGES
// ==========================================================================

// ==========================================================================
// OVERWRITES
// ==========================================================================
