/* ========================================================================== */
/* OBJECTS | Variables */
/* ========================================================================== */

// ----- Fonts
$font-family--text: 'Roboto Mono', monospace;

$font-size--regular: 42px;
$font-size--regular--mobile: 20px;

$line-height--regular: 2;

$weight--medium: 500;
$weight--bold: 700;

// ----- Colors
$color--text: #FFF;
$color--text--hover: #d7a000;
$color--label: #000;
$color--bg: #BDD9EC;
