/* ========================================================================== */
/* OBJECTS | Full Screen video background */
/* ========================================================================== */

.fs-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fs-background__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
}

.video--visible { opacity: 1; }

// @media (max-width: 480px) {
//   .fs-background {
//     // TODO screenshot toevoegen
//     // background: url('../img/videoframe.jpg') center center / cover no-repeat;
//   }

//   .fs-background__video {
//     display: none;
//   }
// }
