/* ========================================================================== */
/* OBJECTS | Header */
/* ========================================================================== */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  margin-bottom: 100px;
  font-weight: $weight--bold;
}

.header__logo {
  position: sticky;
  top: 0;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 6px;
  z-index: 10;

  .label--logo {
    &:empty { display: none; }
  }
}

.header__button {
  display: inline-block;
  padding: 0;
  background: transparent;
  appearance: none;
  border: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border-color: $color--text--hover;
    cursor: pointer;

    .header__scroll-btn { background-color: $color--text--hover; }
  }
}

.header__scroll {
  position: absolute;
  border: 2px solid $color--text;
  bottom: 60px;
  left: calc(50vw - 11px);
  width: 22px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 1px 1px 3px 0 $color--shadow;
  transition: border-color .3s;

  .header__scroll-btn {
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: scroll;
    background-color: $color--text;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 $color--shadow;
    transition: background-color .3s;
  }
}

@keyframes scroll {
  from { top: 7px; }
  to { top: 21px; }
}
