/* ========================================================================== */
/* OBJECTS | Header */
/* ========================================================================== */

.header {
  margin-bottom: 100px;
  font-weight: $weight--bold;
}

.logo {
  letter-spacing: 6px;
}