/* ========================================================================== */
/* OBJECTS | Helpers */
/* ========================================================================== */

// Overflow
.overflow--scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// Container
.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.container--m {
  max-width: 950px;
}

// Gutter
.gutter--m {
  padding-left: $gutter--mobile;
  padding-right: $gutter--mobile;

  @media screen and (min-width: 825px) {
    padding-left: $gutter--desktop;
    padding-right: $gutter--desktop;
  }
}

// Typography
.text--center { text-align: center;}

.text-block {
  &:not(:last-child) { margin-bottom: 4rem; }
}

// Screen reader text
.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
