/* ========================================================================== */
/* OBJECTS | Label */
/* ========================================================================== */

.label {
  display: inline;
  padding: 8px 0 12px;
  background-color: $color--label;
  color: $color--text;
  box-shadow: 10px 0 0 0 $color--label, -10px 0 0 0 $color--label;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  @media only screen and (min-width: 480px) {
    box-shadow: 20px 0 0 0 $color--label, -20px 0 0 0 $color--label;
  }
}

.label--logo {
  display: inline-block;
  padding: 0 15px 12px;
}
